# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Virtualenvs
env/
.venv/
venv/

# Django
*.log
media/
staticfiles/

# Local DB / secrets
*.sqlite3
.env

# Git / IDE
.git/
.gitignore
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
