{% extends 'base.html' %}

{% block meta %}
<title>Login MamiCoach</title>
{% endblock meta %}

{% block content %}
<div>
    <h1>Login</h1>

    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <div>
        <p>Don't have an account?</p>
        <p><a href="{% url 'main:register' %}">Register as User</a></p>
        <p>Already have an account but want to become a coach? 
           <a href="{% url 'main:register_coach' %}">Register as Coach</a>
        </p>
    </div>
</div>
{% endblock content %}
